.header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.wrapper{
    display: flex;
    flex-grow: 1;
}

.headerStoreTitle{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.headerCartBtnWrapper{
    justify-content: flex-end;
}